## Operaciones matematicas

suma

In [1]:
answer = 30 + 12
print(answer)

42

Resta

In [2]:
difference = 30 - 12
print(difference)

18

Multiplicación

In [3]:
product = 30 * 12
print(product)

360

Division

In [4]:
quotient = 30 / 12
print(quotient)

2.5

Trabajo con divisiones

ejermplo :
El primer paso es determinar el número de minutos que hay en 1042 segundos. Con 60 segundos en un minuto, puedes dividir y obtener una respuesta de 17.3666667 . El número que te interesa es simplemente 17. Siempre que desees redondear hacia abajo, utilizando lo que se conoce como división de piso. Para realizar la división de piso en Python, utilizamos '//'.

In [5]:
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)

17

El siguiente paso es determinar el número de segundos. Este es el resto de si se divide por 1042. Puedes encontrar el resto utilizando el operador módulo, que es % en Python. El resto de 1042 / 60 es 22, que es lo que proporcionará el operador del módulo.

In [6]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

(Jerarquía de Operaciones)

In [8]:
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)
print(result_1)
print(result_2)

1084
1084

Convertir cadenas en números

In [9]:
demo_int = int('215')  ## int entero 
print(demo_int)

215

In [10]:
demo_float = float('215.3')  ## float punto decimal o flotante 
print(demo_float)

215.3

Valores absolutos

In [12]:
a = 39 - 16
b = 16 - 39
print("", + a , "", + b)

 23  -23

Convertimos el valor negativo en su valor absoluto utilizando

In [13]:
print(abs(39 - 16))
print(abs(16 - 39))

23
23

Redondeo

In [15]:
print(round(14.5))
##extra 
a = 8
b = 2.12
print(round(a + b ))

14
10

Biblioteca Math

In [16]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

## Ejercicio 1 Katas

Python proporciona operadores aritméticos comunes para que puedas realizar operaciones matemáticas en tu código. Estos incluyen las cuatro operaciones principales de suma, resta, multiplicación y división.

Exploremos cómo podemos crear un programa que pueda calcular la distancia entre dos planetas. Comenzaremos usando dos distancias de planetas: Tierra (149.597.870 km) y Júpiter (778.547.200 km).

In [17]:
platena_prim = 149597870
planeta_seg = 778547200

Realizar la operación

Con los valores obtenidos, es el momento de añadir el código para realizar la operación. Restarás el primer planeta del segundo para determinar la distancia en kilómetros. A continuación, puedes convertir la distancia del kilómetro en millas multiplicándola por 0.621.

Prueba tu proyecto

Con el código creado, ejecuta el notebook para obtener el resultado. Deberías recibir lo siguiente:

628949330
390577534

In [18]:
distkm = planeta_seg - platena_prim
print(distkm)
distmillas = distkm * 0.621
print(distmillas)

628949330
390577533.93

## ejercico 2 kata

Convierte cadenas en números y usa valores absolutos

Crear una aplicación para trabajar con números y entrada de usuario

Con frecuencia, deberás convertir los valores de cadena en números para realizar correctamente diferentes operaciones o determinar el valor absoluto de un número.

Para crear nuestra aplicación, queremos leer la distancia del sol para dos planetas, y luego mostrar la distancia entre los planetas. Haremos esto usando input para leer los valores, int para convertir a entero y luego abs para convertir el resultado en su valor absoluto.

Usando input, agrega el código para leer la distancia del sol para cada planeta, considerando 2 planetas.

In [20]:
planeta_seg = input("Ingresa distancia del sol para planeta 2 en KM")
platena_prim = input("Ingresa distancia del sol para planeta 1 en KM")

Convertir a número

Debido a que input devuelve valores de cadena, necesitamos convertirlos en números. Para nuestro ejemplo, usaremos int

In [25]:
planeta_seg = int(planeta_seg)
platena_prim = int(platena_prim)

ValueError: invalid literal for int() with base 10: 'Ingresa distancia del sol para planeta 2 en KM'

Realizar el cálculo y convertir a valor absoluto

Con los valores almacenados como números, ahora puedes agregar el código para realizar el cálculo, restando el primer planeta del segundo. Debido a que el segundo planeta podría ser un número mayor, usarás abs para convertirlo a un valor absoluto. También agregarás el código para mostrar el resultado en millas multiplicando la distancia del kilómetro por 0.621

In [26]:
distkm = planeta_seg - platena_prim
print(distkm)
#comvesion km a Milla
distmillas = distkm * 0.621
print(abs(distmillas))

TypeError: unsupported operand type(s) for -: 'str' and 'str'